#preloader {
    overflow: hidden;
    background-color: #dfff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999999;
    .preloader-image{
        width: 5%;
        margin:0 auto;
    }
}
.style-rounded{
    border-radius: 5px;
}
.style-shadow{
   
    box-shadow:  0 3px 2px rgba(0, 0, 0, 0.1)
}
.page-header{
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	
	width: 100%;
	border-bottom: none;
	z-index: 997;
	.top-header{
		height: 100%;
		display: flex;
		
		background-color:#000000;
		align-items: center;
		position: absolute;
		width: 100%;
		align-items: center;
		position: relative;
		// border-bottom: 1px solid rgba(255,255,255,0.2);
		@media screen and (max-width: $break-small) {   
			display: block;
		}
		ul{
			list-style: none;
			margin-left: 0;
			li{
				display: inline-block;
				padding: 0px 5px;
				@media screen and (max-width: $break-small) {  
					padding: 0px 3px;
			
				}
			}
		}
		.top-social{
			@media screen and (max-width: $break-small) {  
				display: none;
		
			}
			padding: 5px 0px;
			ul{
				margin-bottom: 0;
				li{
					
					a{
						color: #8b8b8b;
						transition: all 0.3s linear;
						font-size: 12px;
					}
				}
			}

		
		}
		.right-side{
			width: 100%;
			padding: 5px 0px;
			@media screen and (max-width: $break-small) {  
				text-align: center;
		
			}
			.contact-info{
				float: right;
				margin-bottom: 0;
				@media screen and (max-width: $break-small) {  
					float: none;
			
				}
					li{
						display: inline-flex;
						.icon-box{
							.fa{
								color:#8b8b8b;
							}
						}
						
						a{
							span{
								color:#8b8b8b;
								font-size: 12px;
								padding: 0px 5px;;
							}
							
						}
						&:first-child{
							border-right: 1px solid #8b8b8b;
						}
					}
				
			}
		}
		.apply-button{
			height: 100%;
			@media screen and (max-width: $break-small) {  
				display: none;
				
			}
			.col-button{
				border-radius: 0;
				margin-bottom: 0;
				height: 100%;
				border:none;
				text-transform: uppercase;
				&:before{
					border-radius: 0;
				}
				&:hover{
					background-color: white;
				}
			}
		}
	}
	.site-header{
		.site-branding{
			.site-logo{
				padding: 5px 5px 5px 5px;
				width: 40%;
				display: flex;
				align-items:center;
				// -webkit-box-reflect: below 0 linear-gradient(transparent, white);

				@media screen and (max-width: $break-small) {  
					width: 50%;
					
				}
			}
		}
		.site-header-menu{
			height: 100%;
			.main-navigation {
				height: 100%;
				align-items: center;
				display: flex;
				ul {
					margin: 0;
					padding: 0;
					width: 100%;
					text-align: right;
					ul {
						background-color: $primary-color;
						display: block;
						margin: 0;
						min-width: 220px;
						top: 80px;
						opacity: 0;
						float: left;
						position: absolute;
						right: -999em;
						z-index: 99999;
						ul {
							right: 100%;
							top: 0;
							left: inherit;
							&::after {
								content: none;
							}
							ul {
								display: none;
							}
							li {
								&:hover {
									>ul {
										display: block;
									}
								}
							}
						}
						li {
							&:hover {
								>ul {
									right: 100%;
								}
							}
							&:last-child {
								>a {
									border: none;
								}
							}
						}
						&::after {
							content: "";
							display: block;
							position: absolute;
							top: -5px;
							border-left: 1px solid $primary-color;
							border-top: 1px solid $primary-color;
							z-index: 9999;
							right: 32px;
							transform: rotate(45deg);
							background: $primary-color;
							height: 12px;
							width: 12px;
						}
						a {
							
							transition: padding 0.2s ease-in-out 0s;
							color: #fff;
							height: auto;
							padding: 10px 15px 10px 30px;
							text-align: left;
							font-size: 14px;
							font-weight: normal;
							text-transform: capitalize;
						}
					}
					>li {
						&:hover {
							>ul {
								right: 0;
								z-index: 9999;
								opacity: 1;
								display: block;
								-moz-animation: fadeInUp 0.3s ease-in;
								-webkit-animation: fadeInUp 0.3s ease-in;
								animation: fadeInUp 0.3s ease-in;
							}
						}
					}
					li {
						float: revert;
						transition: all 0.3s linear;
						position: relative;
						overflow: hidden;
						padding: 10px 0px;
						&::after{
							content: "";
							width: 100%;
							position: absolute;
							height: 100%;
							top: -100%;
							left: 0;
							opacity: 0;
							background-color: $primary-color;
							transition: all 0.3s linear;
						}
						&:hover{
							a{
								color: #333333;
							}
							&::after{
								content: "";
								top: 95%;
								opacity: 1;
							}
						}
				
						a {
							color: #000;
							display: block;
							font-size: 14px;
							padding: 0px 15px;
							z-index: 99;
							font-weight: 600;
							letter-spacing: 0.5px;
							text-transform: uppercase;
							webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-ms-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
							&.col-button{
								display: block;
								text-align: center;
								text-transform: capitalize;
								font-weight: 600;
								font-size: 17px;
								padding: 10px 10px;
								background-color: $primary-color;
								color: #fff;
								border-radius: 5px;
								width: auto;
								&:hover{
									background-color: $secondary-color;
									color: #fff;
								}
							}
							.menu-icon{
								padding-bottom: 100%;
								img{
									&:first-child{
										opacity: 1;
									}
									&:nth-child(2){
										opacity: 0;
									}
								}
							}
						}
						&:hover{
							a{
								.menu-icon{
									img{
										&:first-child{
											opacity: 0;
										}
										&:nth-child(2){
											opacity: 1;
										}
									}
								}
							}
						}
						li.menu-item-has-children {
							>a {
								&::after {
									content: "\f104";
									top: 10px;
									left: 10px;
									margin-right: 10px;
									float: left;
									right: inherit;
									margin-left: 0;
								}
							}
						}
						li.page_item_has_children {
							>a {
								&::after {
									content: "\f104";
									top: 10px;
									left: 10px;
									margin-right: 10px;
									float: left;
									right: inherit;
									margin-left: 0;
								}
							}
						}
					}
					li.menu-item-has-children {
						>a {
							&::after {
								content: "\f107";
								font-family: FontAwesome;
								margin-left: 7px;
								margin-right: 0;
								float: right;
								position: absolute;
								right: 7px;
								right: 0;
							}
						}
					}
					li.page_item_has_children {
						>a {
							&::after {
								content: "\f107";
								font-family: FontAwesome;
								margin-left: 7px;
								margin-right: 0;
								float: right;
								position: absolute;
								right: 7px;
								right: 0;
							}
							padding-right: 30px;
						}
					}
					li.menu-item-has-childrenv {
						>a {
							padding-right: 30px;
						}
					}
				}
				li {
					position: relative;
					display: inline-block;
					margin-bottom: 0;
					float: left;
					li {
						float: none;
						display: block;
						>a {
							&:hover {
								&::before {
									display: none;
								}
							}
						}
						&:hover {
							>a {
								&::before {
									display: none;
								}
							}
						}
					}
					>a {
						&:hover {
							color: $primary-color;
						}
					}
					&:hover {
						>a {
							color: $primary-color;
						}
					}
					ul.sub-menu {
						li {
							a {
								opacity: 0.6;
								transition: all 0.3s linear;
							}
							&:hover {
								>a {
									color: whitesmoke;
									opacity: 1;
								}
							}
						}
					}
					li.current-menu-item {
						>a {
							&::before {
								display: none;
							}
						}
					}
				}
				li.current-menu-item {
					&::after{
						content: "";
						width: 100%;
						position: absolute;
						height: 100%;
						top: 95%;
						left: 0;
						opacity: 1;
						background-color: $primary-color;
						transition: all 0.3s linear;
					}
					
					>a {
						color: $primary-color;
					}
				}
				li.current_page_item {
					>a {
						color: $primary-color;
						&::before {
							display: none;
						}
					}
				}
				.menu-toggle {
					display: none;
				}
				.dropdown-toggle {
					display: none;
				}
			}
		}
		.search-content{
			height: 100%;
			@media screen and (max-width: $break-small) {
				display: none;
			   }
			.search-icon{
				height: 100%;
				button{
					height:100%;
					background-color: white;
					border: none;
					padding: 0;
					.fa{
						color: #333333;
						font-weight: 600;
						
					}
					&:focus{
						outline: none;
						
					}
				}
			}
			
		}
	}
	
	// .page-menu{
	// 	position: fixed;
	// 	top: 10%;
	// 	right: 0%;
	// 	width: 60px;
	// 	background-color: rgba(255,255,2555,1);
	// 	border-radius: 5px;
	// 	margin-right: 15px;
	// 	box-shadow: -10px 0px 20px 2px rgba(0,0,0,.06);
	// 	z-index: 99;
	// 	ul{
	// 		li{
	// 			display: block;
	// 			position: relative;
	// 			z-index: 99;
	// 			a{
	// 				span{
	// 					position: absolute;
	// 					background-color: #ffffff;
	// 					color: #32343d;
	// 					padding: 20px 26px;
	// 					transform: translateX(-35%);
	// 					left: 0px;
	// 					top: 0;
	// 					bottom: 0;
	// 					display: flex;
	// 					align-items: center;
	// 					opacity: 0;
	// 					transition: 0.4s all ease-in-out;
	// 					z-index: -100;
	// 					border-top-left-radius: 5px;
	// 					border-bottom-left-radius: 5px;
	// 					font-size: 13px;
	// 					box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.08);
	// 				}
	// 				&:hover{
	// 					span{
	// 						transform: translateX(-99%);
	// 						opacity: 1;
	// 						transition: all 0.4s linear;
	// 						background-color: $primary-color;
	// 							color: white;
	// 						&:hover{
								
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

    /*
.nav-shrink .main-navigation ul ul ul{
  top: 0;
}*/
/*
.nav-shrink .main-navigation ul ul a {
  padding: 15px 15px 15px 25px;
}*/


}
#header{
	z-index: 995;
	&.header-scrolled {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.5s;
		background-color: #fff;
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		.main-menu {
			border-color: transparent;
		}
		
	}
	&.inner-header{
		box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
	}
}
// #header.header-scrolled 
.search-modal{
  background-color: #000000ab;
    .modal-dialog{
        width: 80%;
        margin:10% auto;
        .modal-content{
            background-color: transparent;
            box-shadow: none;
            border: 0;
            .modal-header{
                border-bottom: 0;
            }
            .modal-body{
                .search-wrapper {
                   
                    input[type=text]{
                     padding: 15px;
                     height: 45px;
                     border-radius: 20px;
                     margin-bottom: 0;
                    background-color:transparent;
                    
                    border-bottom:2px solid #ddd;
                     width: 100%;
                     position: relative;
                     &::placeholder{
                         color:white;
                         font-size:20px;
                         }
                     }
                     input[type=submit]{
                         position: absolute;
                         color:#ddd;
                         right: 1%;
                         display: block;
                         padding: 5px;
                         bottom:14%;
                     }
                 } 
            }
           
        }
    }
   
   
}


.no-display{
    display: none;
}
// .navigation-menu-holder {
  
//     padding: 10px 0px;
// }

.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
  
	* {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
  
	ul {
	  position: absolute;
	  display: none;
	  top: 100%;
	  right: 0;
	  z-index: 99;
	}
  
	li {
	  position: relative;
	  white-space: nowrap;
  
	  &:hover > ul, &.sfHover > ul {
		display: block;
	  }
	}
  
	> li {
	  float: left;
	}
  
	ul {
	  ul {
		top: 0;
		right: 100%;
	  }
  
	  li {
		min-width: 180px;
	  }
	}
  }
  
  .sf-arrows {
	.sf-with-ul {
	  padding-right: 30px;
  
	  &:after {
		content: "\f107";
		position: absolute;
		right: 15px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
	  }
	}
  
	ul .sf-with-ul:after {
	  content: "\f105";
	}
  }
  
  @media (max-width: 768px) {
	#nav-menu-container {
	  display: none;
	}
  }
  
  .nav-menu {
	a {
	  text-decoration: none;
	  display: inline-block;
	  color: #fff;
	  font-weight: 500;
	  outline: none;
	  font-size: 14px;
	  padding: 14px 17px;
	  z-index: 99;
	  font-weight: 500;
	  text-transform: uppercase;
	}
  
	li:hover > a {
	  color: #198900;
	}
  
	> li {
	  margin-left: 10px;
	}
  
	ul {
	  /*margin: 24px 0 0 0;*/
	  margin: 6px 0 0 0;
	  padding: 10px;
	  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	  background: #fff;
  
	  li {
		transition: 0.3s;
  
		a {
		  padding: 7px 10px;
		  color: #333;
		  transition: 0.3s;
		  display: block;
		  font-size: 13px;
		  text-transform: none;
		  font-weight: 500;
  
		  /*border-bottom: 1px solid #10826d;*/
		}
  
		&:last-child a {
		  border: none;
		}
  
		&:hover > a {
		  color: #3cb46e;
		}
	  }
  
	  ul {
		margin-right: 10px;
		margin-top: 0;
	  }
	}
  }
  
  #mobile-nav-toggle {
	position: fixed;
	right: 0;
	z-index: 998;
	top: 6%;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	// transition: all 0.4s;
	outline: none;
	cursor: pointer;
	width: auto;  
	i {
	  color: $primary-color;
	}
	&.scrolled{
		top: 0;
	}
  }
  
  @media (max-width: 960px) {
	#mobile-nav-toggle {
	  display: inline;
	}
  
	#nav-menu-container {
	  display: none;
	}
  }
  
  #mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 999;
	background:$secondary-color;
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
  
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;
  
	  li {
		position: relative;
  
		a {
		  color: #fff;
		  font-size: 13px;
		  text-transform: uppercase;
		  overflow: hidden;
		  padding: 10px 22px 10px 15px;
		  position: relative;
		  text-decoration: none;
		  width: 100%;
		  display: block;
		  outline: none;
		  font-weight: 400;
  
		  &:hover {
			color: #fff;
		  }
		}
  
		li {
		  padding-left: 30px;
		}
	  }
  
	  .menu-has-children {
		i {
		  position: absolute;
		  right: 0;
		  z-index: 99;
		  padding: 15px;
		  cursor: pointer;
		  color: #fff;
  
		  &.fa-chevron-up {
			color: #3cb46e;
		  }
		}
  
		li a {
		  text-transform: none;
		}
	  }
  
	  .menu-item-active {
		color: #000;
	  }
	}
  }
  
  #mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	display: none;
  }
  
  body.mobile-nav-active {
	overflow: hidden;
  
	#mobile-nav {
	  left: 0;
	}
  
	#mobile-nav-toggle {
	  color: #fff;
	}
  }

#breadcrumb-list {
    position: relative;
    z-index: 1;
  }
  
  .col-breadcrumb-holder {
    text-align: left;
    padding:0px 0px 20px;
    .breadcrumbs ul {
      margin-left: 0px;
    }
  }
  
  .breadcrumb-trail.breadcrumbs{
	  text-align: right;
	ul {
		margin-left: 0;
		li {
		  display: inline-block;
		  color:white;
		  font-size: 12px;
	  
		  a {
			color:$primary-color;
			padding-right: 5px;
			font-weight: bold;
	  
			&:after {
			  content: "\f054 ";
			  padding-left: 5px;
			  font-family: fontawesome;
			  font-weight: bold;
			  color: white;
			}
		  }
		}
	  
		.trail-end {
		  color: #fff;
		  font-size: 10px;
		  font-weight: bold;
		}
	  }
  } 
 
