.banner-section {
    height: 65vh;

    .col-banner-slider {
        height: 100%;

        .college-banner-single {
            height: 65vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            vertical-align: middle;
            justify-content: center;
            position: relative;

            .banner-text-wrapper {
                position: relative;
                z-index: 10;

                h1 {
                    color: white;
                    font-size: 72px;
                    animation: fadeOut 0.3s linear 1;

                    @media screen and (max-width: $break-small) {
                        font-size: 30px;
                    }
                }

                h4 {
                    color: white;
                    font-size: 24px;
                    font-weight: 300;
                    animation: fadeOut 0.3s linear 1;
                    position: relative;
                    padding: 10px 15px;
                    display: inline-block;

                    &:after {
                        content: "";
                        bottom: 0;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        height: 2px;
                        background-color: white;

                    }

                    @media screen and (max-width: $break-small) {
                        font-size: 18px;
                    }
                }
            }

            &.slick-active {
                .banner-text-wrapper {

                    h1 {
                        animation: slideInRight 0.6s linear 1;
                        ;
                    }

                    h4 {

                        animation: pulse 0.6s linear 1;
                    }
                }
            }

            &:nth-child(2) {
                &.slick-active {
                    .banner-text-wrapper {

                        h1 {
                            animation: pulse 0.6s linear 1;
                            ;
                        }

                        h4 {

                            animation: backInUp 0.6s linear 1;
                        }
                    }
                }
            }
        }

        .slick-dots {
            bottom: 5%;

            li {
                button {

                    width: 5px;
                    height: 5px;
                    margin-left: 10px;
                    background-color: #ec7778;
                    transition: all 0.3s linear;
                    padding: 5px;

                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    margin: 0px 10px;

                    button {
                        background-color: $primary-color;
                        height: 30px;
                        margin: 0px 10px;
                    }
                }
            }
        }
    }
}

.about-section {
    @include title;

    .about-wrapper {
        .video-wrapper {


            .item-image-holder {
                padding-bottom: 50%;

                .icon-holder {
                    width: 10%;
                    padding-bottom: 10%;
                    z-index: 10;
                    position: absolute;
                    left: 45%;
                    top: 40%;
                }

                .black-overlay {}
            }
        }
    }

    .features-wrapper {
        padding: 20px 40px;
        background-color: $secondary-color;
        box-shadow: 20px -18px 10px -6px #b5b5b5;

        .feature-single {
            display: flex;
            align-items: center;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #f5f5f5;
                left: 0;
                bottom: 0;
                position: absolute;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            .feature-icon {
                padding-bottom: 15%;
                width: 20%;
                float: left;

                @media screen and (max-width: $break-small) {
                    width: 25%;
                }
            }

            .features-text {
                padding: 20px;
                float: right;

                h4 {
                    color: white;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                p {
                    color: white;
                    ;
                }
            }
        }
    }

    .contact-holder {
        display: flex;

        @media screen and (max-width: $break-small) {
            display: block;
        }

        .call-holder {
            padding: 21px 40px;
            background-color: $primary-color;

            @media screen and (max-width: $break-small) {
                text-align: center;
            }

            h5 {
                color: white;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 5px;
            }

            h3 {
                color: white;
                margin-bottom: 0px;

                @media screen and (max-width: $break-small) {
                    font-size: 18px;
                }

            }
        }

        .col-button {
            border-radius: 0;
            padding: 20px 20px;
            text-transform: capitalize;
            border: none;
            background-color: $primary-color-dark;
            width: 100%;
            height: 100%;
            font-size: 25px;

            &:before {
                border-radius: 0;
                top: 0;
                left: 100%;

            }

            &:hover {
                background-color: white;
                color: $primary-color;
                border: 1px solid $primary-color;

                &:before {
                    left: -95%;
                }
            }
        }
    }

}

.courses-section {
    @include title;

    .courses-wrapper {
        .courses-holder {
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $break-small) {
                @include responsivescroll;
                flex-wrap: unset;
            }

            .courses-single {
                display: flex;
                padding: 20px;
                align-items: center;
                width: 47%;
                float: left;
                margin: 15px;
                border: 1px solid #ddd;
                cursor: pointer;
                transition: all 0.3s linear;

                &:hover {
                    box-shadow: 2px 2px 10px 2px #ddd;
                }

                @media screen and (max-width: $break-small) {
                    width: 100%;
                    flex-direction: column-reverse;
                    padding: 10px;
                }

                // display:inline-grid;
                .course-description {
                    width: 70%;
                    float: left;

                    @media screen and (max-width: $break-small) {
                        width: 100%;
                        float: none;
                    }

                    .course-title {
                        a {
                            h4 {
                                color: $primary-color;
                                margin-bottom: 2px;
                            }

                            h6 {
                                font-weight: 500;
                                position: relative;
                                display: inline-block;
                                padding-bottom: 10px;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 50px;
                                    height: 2px;
                                    background-color: $primary-color;
                                    right: 0;
                                    bottom: 0;
                                }
                            }
                        }

                    }

                }

                .courses-image {
                    width: 30%;
                    padding-bottom: 30%;
                    float: right;
                    margin-bottom: 0;

                    img {
                        border-radius: 15%;
                        padding: 5px;
                        ;
                    }

                    @media screen and (max-width: $break-small) {
                        float: none;
                        width: 100%;
                        padding-bottom: 80%;
                    }
                }

            }
        }
    }
}

.events-section {
    position: relative;
    @include title;

    &::before {
        content: "";
        background-image: url(../images/course3.jpg);
        background-size: cover;

        height: 70%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .black-overlay {
        height: 70%;
    }

    .event-holder {
        z-index: 99;
        position: relative;

        .event-slider {
            .event-single {
                margin: 20px;
                padding: 0px 0px 60px 60px;
                border-radius: 10px;

                @media screen and (max-width: $break-small) {
                    padding: 20px;
                    margin: 0;
                }

                .event-details {
                    background-color: $primary-color;
                    padding: 30px;
                    width: 70%;
                    float: right;
                    margin-top: -20px;
                    margin-right: -20px;
                    box-shadow: none;
                    animation: fadeOut 0.3s linear 1;

                    .date-title {
                        display: flex;
                        text-align: center;
                        margin-bottom: 15px;
                        position: relative;

                        .date {
                            padding: 0px 10px;
                            border-right: 2px solid #fff;
                            text-align: center;

                            span {
                                font-size: 25px;
                                font-weight: 600;
                                color: white;
                            }

                            p {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-style: italic;
                            }
                        }

                        .title {
                            padding: 0px 10px;

                            h4 {
                                color: white;
                                margin-bottom: 2px;

                            }

                            .location {
                                background-color: white;
                                padding: 2px;
                                border-radius: 10px;

                                .fa {
                                    color: $primary-color;
                                }

                                span {
                                    color: $primary-color;
                                    margin-bottom: 0;
                                    font-weight: 400;
                                    font-size: 12px;

                                }
                            }
                        }

                    }

                    p {
                        font-size: 14px;
                    }

                    .col-button {
                        font-size: 12px;
                        border: 1px solid #fff;

                        &:hover {
                            background-color: white;
                        }
                    }

                    @media screen and (max-width: $break-small) {
                        width: 100%;
                        float: none;
                        margin-top: 0;
                        margin-right: 0;
                        padding: 15px;
                    }

                }

                &.slick-active {
                    box-shadow: 5px 4px 4px -1px #88888882;

                    .event-details {
                        animation: fadeInLeft 0.5s linear 1;
                    }
                }
            }

            .slick-dots {
                bottom: -10%;

                li {
                    button {

                        width: 5px;
                        height: 5px;
                        margin-left: 10px;
                        background-color: #ec7778;
                        transition: all 0.3s linear;
                        padding: 5px;

                        &:before {
                            display: none;
                        }
                    }

                    &.slick-active {
                        margin: 0px 10px;

                        button {
                            background-color: $primary-color;
                            height: 30px;
                            margin: 0px 10px;
                        }
                    }
                }
            }

        }
    }
}

.message-news-section {
    .message-wrapper {
        @include title;

        @media screen and (max-width: $break-small) {
            margin-bottom: 20px;
        }

        .message-image {
            padding: 0px 10px;
            width: 45%;

            .item-image-holder {
                padding-bottom: 100%;
                margin-bottom: 5px;
                border-radius: 10px;
                height: 85%;

                ul {
                    z-index: 99;
                    position: absolute;
                    right: 0;
                    top: 0;

                    li {
                        a {
                            .fa {
                                width: 40px;
                                height: 40px;
                                line-height: 2.5;
                                text-align: center;

                                &.fa-facebook {
                                    background-color: $facebook-color;
                                    color: white;
                                }

                                &.fa-twitter {
                                    background-color: $twitter-color;
                                    color: white;
                                }

                                &.fa-linkedin {
                                    background-color: $linkedin-color;
                                    color: white;
                                }
                            }

                        }
                    }
                }
            }

            .name {
                h5 {
                    margin-bottom: 0px;
                    color: $primary-color;
                    font-weight: 400;
                    font-size: 25px;
                }

                span {
                    color: $secondary-color;
                    font-size: 14px;
                    font-weight: 300;
                }

                @media screen and (max-width: $break-small) {
                    margin-bottom: 15px;
                }
            }

            @media screen and (max-width: $break-small) {
                width: 100%;

            }
        }

        .message-text {
            width: 55%;
            padding: 0px 10px;

            p {
                font-size: 16px;
                font-style: italic;
                font-weight: 500;

                @media screen and (max-width: $break-small) {
                    font-size: 14px;
                }
            }

            @media screen and (max-width: $break-small) {
                width: 100%;

            }
        }
    }

    .news-wrapper {
        @include title;

        .news-single {
            display: flex;
            width: 100%;
            margin-bottom: 15px;
            align-items: center;

            .item-image-holder {
                width: 35%;
                padding-bottom: 30%;
                border-radius: 15px;
                margin-bottom: 0;
                height: 100%;
            }

            .news-text {
                width: 65%;
                padding: 10px;

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 2px;

                }

                .post-date {

                    span {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
}

.contact-section {
    background-color: #000000;
    padding-bottom: 0px;

    .contact-wrapper {
        height: 100%;
        padding-bottom: 60px;
        border-bottom: 1px solid #545454;
        ;

        .contact-single {
            display: flex;
            align-items: flex-start;

            @media screen and (max-width: $break-small) {
                margin-bottom: 15px;

            }

            .fa {
                color: white;
                font-size: 40px;

                @media screen and (max-width: $break-small) {
                    font-size: 25px;

                }
            }

            .contact-title {
                padding: 0px 15px;

                h4 {
                    color: $primary-color;
                    text-transform: uppercase;
                    position: relative;
                    display: inline-block;
                    padding-bottom: 10px;
                    margin-bottom: 5px;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 50px;
                        background-color: $primary-color;
                        left: 0;
                        bottom: 0;
                        height: 2px;
                    }
                }

                span {
                    color: white;
                    font-size: 16px;
                    display: block;
                }
            }
        }
    }
}

.site-footer {
    background-color: #000;
    color: white;

    .footer-widget-area {
        padding-bottom: 40px;

        @media screen and (max-width: $break-small) {
            margin: 15px 0px;

        }

        .widget-title {
            color: white;
            position: relative;
            padding-bottom: 10px;
            font-size: 20px;
            text-transform: capitalize;

            &:after {
                content: "";
                position: absolute;
                width: 70px;
                background-color: $primary-color;
                left: 0;
                bottom: 0;
                height: 2px;
            }
        }

        .footer-gallery {
            .single-gallery {
                figure {
                    margin: 0;
                    height: 85px;

                }
            }
        }

        ul {
            list-style: none;
            margin-left: 0;

            li {
                text-transform: capitalize;
                line-height: 2;

                a {
                    color: #545454;
                    font-size: 16px;
                    transition: all 0.3s linear;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

    }

    .footer-desc {
        @media screen and (max-width: $break-small) {
            margin-top: 15px;

        }

        .textwidget {
            p {
                img {
                    float: left;
                    width: 20%;
                }
            }
        }

    }

    .site-info {

        .bottom-footer {
            border-top: 1px solid #545454;
            ;
            display: block;
            width: 100%;
            padding: 20px;

            .site-info {
                color: #545454;
                ;
            }

            .bottom-social {
                float: right;

                ul {
                    margin-bottom: 0;

                    li {
                        display: inline-block;
                        padding: 0px 5px;

                        a {
                            color: #8b8b8b;
                            transition: all 0.3s linear;
                            font-size: 12px;

                        }
                    }
                }
            }

            padding: 5px 0px;

        }

    }
}

.inner-banner {
    padding: 30px 0px;

    .page-heading {
        h2 {}
    }
}

.about-inner-page {
    .features-wrapper {
        margin-bottom: 40px;

        .feature-single {
            &:after {
                display: none;
            }
        }
    }

    .about-wrapper {
        .about-text-inner {
            padding: 30px;
            border: 1px solid #ddd;
            margin-left: -70px;
            margin-top: 34px;
            background-color: white;
            z-index: 10;
            position: relative;
            box-shadow: 2px 2px 10px -3px;

            blockquote {
                border-left: none;
                padding-top: 5px;
                padding-bottom: 10px;
                padding-left: 20px;
                font-style: italic;
                font-size: 20px;
                color: $primary-color;
                font-weight: 600;

                &::after {
                    content: '\f10d';
                    font-family: fontawesome;
                    position: absolute;
                    left: 0;
                    font-size: 16px;
                    top: 0;
                }
            }
        }

        .video-wrapper {
            .item-image-holder {
                padding-bottom: 70%;
            }
        }
    }
}

.objectives-section {
    @include title;

    .mission-content {
        .mission-single {
            margin: 15px 0px;
            text-align: center;
            padding: 20px;
            box-shadow: 2px 2px 10px 2px #ddd;
            background-color: white;

            .icon-holder {
                width: 30%;
                margin: 0 auto;
                padding-bottom: 30%;
                margin-bottom: 10px;

            }

            h6 {
                font-size: 22px;
                color: $secondary-color;
            }
        }
    }

    .objective-content {
        .col-panel-grp {
            .col-panel {
                .panel-heading {
                    background-color: $primary-color;
                    color: white;

                    .panel-title {
                        a {
                            font-size: 14px;
                            &::after {
                                font-family: Fontawesome;
                                content: '\f077';
                                float: right;
                                font-size: 10px;
                                font-weight: 300;
                                color: white;

                            }
                            &:hover{
                                color :white;
                            }

                            &.collapsed {
                                &:after {

                                    font-family: Fontawesome;
                                    content: '\f078';
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}
.message-inner-section {
    .message-wrapper {
        @include title;

        @media screen and (max-width: $break-small) {
            margin-bottom: 20px;
        }
        .message-holder{
            padding: 30px 0px;
            .message-image {
            
                width: 25%;
    
             
    
                @media screen and (max-width: $break-small) {
                    width: 100%;
    
                }
            }
    
            .message-text {
                width: 75%;
                padding: 0px 10px;
    
                p {
                    font-size: 16px;
                    font-style: italic;
                    font-weight: 500;
    
                    @media screen and (max-width: $break-small) {
                        font-size: 14px;
                    }
                }
    
                @media screen and (max-width: $break-small) {
                    width: 100%;
    
                }
            }
            &:nth-child(3){
                flex-direction: row-reverse;
            }
        }
        
    }

    
}
.committee-section{
    @include title;
}