$primary-color:#fe5051;
$primary-color-dark:#f41516;
$secondary-color:#333333;
$title-color:#222222;
$text-color:#8d8d8d;
$font-primary: 'Roboto', sans-serif;;
$font-title:'Poppins', sans-serif;
$facebook-color:#4267B2;
$twitter-color: #1DA1F2;
$linkedin-color: #0072b1;   
$footer-color:#f5f5f5;
$break-small:767px;
$break-medium: 990px;
.white-text{
    color:#fff;
}
.footer--dark{
    background-color: $footer-color;
}
.entry-style{
    color: $title-color;
    text-transform: uppercase;
    span{
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #83858F;
        a{
          color: $primary-color;
        }
    }
}
@mixin title{
    .section-content{
        @media screen and (max-width: $break-small) {
            padding: 0px 5px;
            margin-bottom: 20px;
        }
        .section-title{
            position: relative;
            z-index: 9;
            h5{
                color: $primary-color;
                position: relative;
                padding: 0px 15px;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-shadow: 10px 8px #d4d4d494;
                &:before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 4px;
                    background-color: #8d8d8d;
                    left: 0;
                    top: 0;
                }
                @media screen and (max-width: $break-small) {
                    font-size: 14px;
                }
            }
            h2{
                font-size: 32px;
                color: $title-color;
                position: relative;
                display: inline-block;
                &:after{
                    content: "";
                    position: absolute;
                    width:50px;
                    height: 2px;
                    background-color: $primary-color;
                    right: 0;
                    bottom: 0;
                }
                @media screen and (max-width: $break-small) {
                    font-size: 24px;
                }
            }
            .col-button{
                font-size: 14px;
                @media screen and (max-width: $break-small) {
                   float: none!important;
                }
            }
        }
        p{
            font-size: 16px;
        }
        &.title-reversed{
            .section-title{
                h5{
                    text-shadow: none;
                }
                h2{
                    color: white;
                    &:after{
                        
                        background-color: white;
                        
                    }
                }
            }
          p{
              color: white;
          }
        }
        
    }
   
}
@mixin responsivescroll {
    max-width: 100%;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
}