.white-text, .col-button.reverse-button:hover {
  color: #fff;
}

.footer--dark {
  background-color: #f5f5f5;
}

.entry-style {
  color: #222222;
  text-transform: uppercase;
}

.entry-style span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #83858F;
}

.entry-style span a {
  color: #fe5051;
}

html {
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  padding: 60px 0px 60px;
}

footer {
  padding: 30px 0px;
}

.page-content {
  padding: 30px 0px 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  width: 16px;
  height: 15px;
  vertical-align: middle;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  /*border: 1px solid #c0c0c0;*/
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

tr {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

table caption {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

table th a {
  color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #666;
  font-size: 14px;
  height: 46px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  line-height: 1.6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 15px 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 30px 5px 5px 0px;
}

blockquote p {
  margin: 0 0 1em;
  font-style: italic;
}

blockquote, q {
  quotes: "" "";
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f7f7f7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  word-wrap: break-word;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul,
ol {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  width: 100%;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/
/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/
a.button {
  min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
  color: #666;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
  color: #111;
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
  padding: 10px 0 10px 15px;
}

input[type="search"] {
  padding: 12px 0px 8px 15px;
}

select {
  width: 100%;
  padding: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
}

.form-submit input#submit {
  margin: 20px 0 10px 0;
}

.form-submit {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  color: #8d8d8d;
}

/*input[type="submit"] {*/
/*width: 100%;*/
/*}*/
/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fe5051;
  text-decoration: none;
  outline: inherit;
}

a:active {
  outline: 0;
  color: #fe5051;
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: #fe5051;
  text-decoration: none;
  outline: inherit;
}

a.more-link {
  margin-top: 10px;
  display: inline-block;
  padding: 7px 13px;
  background: #08c299;
  color: #fff;
  position: relative;
  z-index: 0;
  font-size: 16px;
  font-weight: 500;
}

a.more-link:hover {
  background: #000;
}

/*----reset---*/
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  clear: both;
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  clear: both;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  content: "";
  clear: both;
}

.section-content {
  padding: 0px 15px;
}

p {
  font-family: "Roboto", sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-apdpearance: none;
}

input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type="date"]:focus {
  color: white;
  background-color: transparent;
}

input[type="date"]:hover {
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

/*image*/
.item-image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.item-image-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bg-light {
  background: #f3f3f3 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block;
  }
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.site-header,
.header-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: white;
}

.fixed {
  position: fixed;
}

.col-button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  /* padding-right: 56px; */
  padding: 10px 25px;
  border-radius: 35px;
  letter-spacing: 2px;
  background-color: #fe5051;
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.col-button:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: white;
  position: absolute;
  border-radius: 35px;
  top: -100%;
  opacity: 0.7;
}

.col-button:hover {
  background-color: transparent;
  color: #fe5051;
  border: 1px solid #fe5051;
}

.col-button:hover:before {
  content: "";
  background-color: white;
  top: 90%;
}

.col-button.reverse-button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.col-button.reverse-button:before {
  background-color: #fe5051;
}

.col-button.reverse-button:hover {
  background-color: #fe5051;
  border: 2px solid #fe5051;
}

.col-button.reverse-button:hover:before {
  top: 100%;
}

@media screen and (max-width: 767px) {
  .col-button {
    font-size: 12px;
    padding: 10px 15px;
  }
}

a.ab-button {
  color: #505050;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 9;
}

.about-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #50cdcd;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fe5051;
  opacity: 0.9;
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .mb-scroll-container {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
  }
}

#preloader {
  overflow: hidden;
  background-color: #dfff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999999;
}

#preloader .preloader-image {
  width: 5%;
  margin: 0 auto;
}

.style-rounded {
  border-radius: 5px;
}

.style-shadow {
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  border-bottom: none;
  z-index: 997;
  /*
.nav-shrink .main-navigation ul ul ul{
  top: 0;
}*/
  /*
.nav-shrink .main-navigation ul ul a {
  padding: 15px 15px 15px 25px;
}*/
}

.page-header .top-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .page-header .top-header {
    display: block;
  }
}

.page-header .top-header ul {
  list-style: none;
  margin-left: 0;
}

.page-header .top-header ul li {
  display: inline-block;
  padding: 0px 5px;
}

@media screen and (max-width: 767px) {
  .page-header .top-header ul li {
    padding: 0px 3px;
  }
}

.page-header .top-header .top-social {
  padding: 5px 0px;
}

@media screen and (max-width: 767px) {
  .page-header .top-header .top-social {
    display: none;
  }
}

.page-header .top-header .top-social ul {
  margin-bottom: 0;
}

.page-header .top-header .top-social ul li a {
  color: #8b8b8b;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 12px;
}

.page-header .top-header .right-side {
  width: 100%;
  padding: 5px 0px;
}

@media screen and (max-width: 767px) {
  .page-header .top-header .right-side {
    text-align: center;
  }
}

.page-header .top-header .right-side .contact-info {
  float: right;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .page-header .top-header .right-side .contact-info {
    float: none;
  }
}

.page-header .top-header .right-side .contact-info li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page-header .top-header .right-side .contact-info li .icon-box .fa {
  color: #8b8b8b;
}

.page-header .top-header .right-side .contact-info li a span {
  color: #8b8b8b;
  font-size: 12px;
  padding: 0px 5px;
}

.page-header .top-header .right-side .contact-info li:first-child {
  border-right: 1px solid #8b8b8b;
}

.page-header .top-header .apply-button {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .page-header .top-header .apply-button {
    display: none;
  }
}

.page-header .top-header .apply-button .col-button {
  border-radius: 0;
  margin-bottom: 0;
  height: 100%;
  border: none;
  text-transform: uppercase;
}

.page-header .top-header .apply-button .col-button:before {
  border-radius: 0;
}

.page-header .top-header .apply-button .col-button:hover {
  background-color: white;
}

.page-header .site-header .site-branding .site-logo {
  padding: 5px 5px 5px 5px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header .site-header .site-branding .site-logo {
    width: 50%;
  }
}

.page-header .site-header .site-header-menu {
  height: 100%;
}

.page-header .site-header .site-header-menu .main-navigation {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header .site-header .site-header-menu .main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right;
}

.page-header .site-header .site-header-menu .main-navigation ul ul {
  background-color: #fe5051;
  display: block;
  margin: 0;
  min-width: 220px;
  top: 80px;
  opacity: 0;
  float: left;
  position: absolute;
  right: -999em;
  z-index: 99999;
}

.page-header .site-header .site-header-menu .main-navigation ul ul ul {
  right: 100%;
  top: 0;
  left: inherit;
}

.page-header .site-header .site-header-menu .main-navigation ul ul ul::after {
  content: none;
}

.page-header .site-header .site-header-menu .main-navigation ul ul ul ul {
  display: none;
}

.page-header .site-header .site-header-menu .main-navigation ul ul ul li:hover > ul {
  display: block;
}

.page-header .site-header .site-header-menu .main-navigation ul ul li:hover > ul {
  right: 100%;
}

.page-header .site-header .site-header-menu .main-navigation ul ul li:last-child > a {
  border: none;
}

.page-header .site-header .site-header-menu .main-navigation ul ul::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  border-left: 1px solid #fe5051;
  border-top: 1px solid #fe5051;
  z-index: 9999;
  right: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fe5051;
  height: 12px;
  width: 12px;
}

.page-header .site-header .site-header-menu .main-navigation ul ul a {
  -webkit-transition: padding 0.2s ease-in-out 0s;
  transition: padding 0.2s ease-in-out 0s;
  color: #fff;
  height: auto;
  padding: 10px 15px 10px 30px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.page-header .site-header .site-header-menu .main-navigation ul > li:hover > ul {
  right: 0;
  z-index: 9999;
  opacity: 1;
  display: block;
  -webkit-animation: fadeInUp 0.3s ease-in;
  animation: fadeInUp 0.3s ease-in;
}

.page-header .site-header .site-header-menu .main-navigation ul li {
  float: revert;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
  padding: 10px 0px;
}

.page-header .site-header .site-header-menu .main-navigation ul li::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: -100%;
  left: 0;
  opacity: 0;
  background-color: #fe5051;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.page-header .site-header .site-header-menu .main-navigation ul li:hover a {
  color: #333333;
}

.page-header .site-header .site-header-menu .main-navigation ul li:hover::after {
  content: "";
  top: 95%;
  opacity: 1;
}

.page-header .site-header .site-header-menu .main-navigation ul li a {
  color: #000;
  display: block;
  font-size: 14px;
  padding: 0px 15px;
  z-index: 99;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page-header .site-header .site-header-menu .main-navigation ul li a.col-button {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 10px;
  background-color: #fe5051;
  color: #fff;
  border-radius: 5px;
  width: auto;
}

.page-header .site-header .site-header-menu .main-navigation ul li a.col-button:hover {
  background-color: #333333;
  color: #fff;
}

.page-header .site-header .site-header-menu .main-navigation ul li a .menu-icon {
  padding-bottom: 100%;
}

.page-header .site-header .site-header-menu .main-navigation ul li a .menu-icon img:first-child {
  opacity: 1;
}

.page-header .site-header .site-header-menu .main-navigation ul li a .menu-icon img:nth-child(2) {
  opacity: 0;
}

.page-header .site-header .site-header-menu .main-navigation ul li:hover a .menu-icon img:first-child {
  opacity: 0;
}

.page-header .site-header .site-header-menu .main-navigation ul li:hover a .menu-icon img:nth-child(2) {
  opacity: 1;
}

.page-header .site-header .site-header-menu .main-navigation ul li li.menu-item-has-children > a::after {
  content: "\f104";
  top: 10px;
  left: 10px;
  margin-right: 10px;
  float: left;
  right: inherit;
  margin-left: 0;
}

.page-header .site-header .site-header-menu .main-navigation ul li li.page_item_has_children > a::after {
  content: "\f104";
  top: 10px;
  left: 10px;
  margin-right: 10px;
  float: left;
  right: inherit;
  margin-left: 0;
}

.page-header .site-header .site-header-menu .main-navigation ul li.menu-item-has-children > a::after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 7px;
  margin-right: 0;
  float: right;
  position: absolute;
  right: 7px;
  right: 0;
}

.page-header .site-header .site-header-menu .main-navigation ul li.page_item_has_children > a {
  padding-right: 30px;
}

.page-header .site-header .site-header-menu .main-navigation ul li.page_item_has_children > a::after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 7px;
  margin-right: 0;
  float: right;
  position: absolute;
  right: 7px;
  right: 0;
}

.page-header .site-header .site-header-menu .main-navigation ul li.menu-item-has-childrenv > a {
  padding-right: 30px;
}

.page-header .site-header .site-header-menu .main-navigation li {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  float: left;
}

.page-header .site-header .site-header-menu .main-navigation li li {
  float: none;
  display: block;
}

.page-header .site-header .site-header-menu .main-navigation li li > a:hover::before {
  display: none;
}

.page-header .site-header .site-header-menu .main-navigation li li:hover > a::before {
  display: none;
}

.page-header .site-header .site-header-menu .main-navigation li > a:hover {
  color: #fe5051;
}

.page-header .site-header .site-header-menu .main-navigation li:hover > a {
  color: #fe5051;
}

.page-header .site-header .site-header-menu .main-navigation li ul.sub-menu li a {
  opacity: 0.6;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.page-header .site-header .site-header-menu .main-navigation li ul.sub-menu li:hover > a {
  color: whitesmoke;
  opacity: 1;
}

.page-header .site-header .site-header-menu .main-navigation li li.current-menu-item > a::before {
  display: none;
}

.page-header .site-header .site-header-menu .main-navigation li.current-menu-item::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 95%;
  left: 0;
  opacity: 1;
  background-color: #fe5051;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.page-header .site-header .site-header-menu .main-navigation li.current-menu-item > a {
  color: #fe5051;
}

.page-header .site-header .site-header-menu .main-navigation li.current_page_item > a {
  color: #fe5051;
}

.page-header .site-header .site-header-menu .main-navigation li.current_page_item > a::before {
  display: none;
}

.page-header .site-header .site-header-menu .main-navigation .menu-toggle {
  display: none;
}

.page-header .site-header .site-header-menu .main-navigation .dropdown-toggle {
  display: none;
}

.page-header .site-header .search-content {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .page-header .site-header .search-content {
    display: none;
  }
}

.page-header .site-header .search-content .search-icon {
  height: 100%;
}

.page-header .site-header .search-content .search-icon button {
  height: 100%;
  background-color: white;
  border: none;
  padding: 0;
}

.page-header .site-header .search-content .search-icon button .fa {
  color: #333333;
  font-weight: 600;
}

.page-header .site-header .search-content .search-icon button:focus {
  outline: none;
}

#header {
  z-index: 995;
}

#header.header-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#header.header-scrolled .main-menu {
  border-color: transparent;
}

#header.inner-header {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.search-modal {
  background-color: #000000ab;
}

.search-modal .modal-dialog {
  width: 80%;
  margin: 10% auto;
}

.search-modal .modal-dialog .modal-content {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.search-modal .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
}

.search-modal .modal-dialog .modal-content .modal-body .search-wrapper input[type=text] {
  padding: 15px;
  height: 45px;
  border-radius: 20px;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 2px solid #ddd;
  width: 100%;
  position: relative;
}

.search-modal .modal-dialog .modal-content .modal-body .search-wrapper input[type=text]::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}

.search-modal .modal-dialog .modal-content .modal-body .search-wrapper input[type=text]:-ms-input-placeholder {
  color: white;
  font-size: 20px;
}

.search-modal .modal-dialog .modal-content .modal-body .search-wrapper input[type=text]::-ms-input-placeholder {
  color: white;
  font-size: 20px;
}

.search-modal .modal-dialog .modal-content .modal-body .search-wrapper input[type=text]::placeholder {
  color: white;
  font-size: 20px;
}

.search-modal .modal-dialog .modal-content .modal-body .search-wrapper input[type=submit] {
  position: absolute;
  color: #ddd;
  right: 1%;
  display: block;
  padding: 5px;
  bottom: 14%;
}

.no-display {
  display: none;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu li:hover > ul, .nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu > li {
  float: left;
}

.nav-menu ul ul {
  top: 0;
  right: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

.nav-menu a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  outline: none;
  font-size: 14px;
  padding: 14px 17px;
  z-index: 99;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-menu li:hover > a {
  color: #198900;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  /*margin: 24px 0 0 0;*/
  margin: 6px 0 0 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 7px 10px;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  font-weight: 500;
  /*border-bottom: 1px solid #10826d;*/
}

.nav-menu ul li:last-child a {
  border: none;
}

.nav-menu ul li:hover > a {
  color: #3cb46e;
}

.nav-menu ul ul {
  margin-right: 10px;
  margin-top: 0;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  z-index: 998;
  top: 6%;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  outline: none;
  cursor: pointer;
  width: auto;
}

#mobile-nav-toggle i {
  color: #fe5051;
}

#mobile-nav-toggle.scrolled {
  top: 0;
}

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline;
  }
  #nav-menu-container {
    display: none;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 999;
  background: #333333;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #3cb46e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #000;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

#breadcrumb-list {
  position: relative;
  z-index: 1;
}

.col-breadcrumb-holder {
  text-align: left;
  padding: 0px 0px 20px;
}

.col-breadcrumb-holder .breadcrumbs ul {
  margin-left: 0px;
}

.breadcrumb-trail.breadcrumbs {
  text-align: right;
}

.breadcrumb-trail.breadcrumbs ul {
  margin-left: 0;
}

.breadcrumb-trail.breadcrumbs ul li {
  display: inline-block;
  color: white;
  font-size: 12px;
}

.breadcrumb-trail.breadcrumbs ul li a {
  color: #fe5051;
  padding-right: 5px;
  font-weight: bold;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
  content: "\f054 ";
  padding-left: 5px;
  font-family: fontawesome;
  font-weight: bold;
  color: white;
}

.breadcrumb-trail.breadcrumbs ul .trail-end {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.banner-section {
  height: 65vh;
}

.banner-section .col-banner-slider {
  height: 100%;
}

.banner-section .col-banner-slider .college-banner-single {
  height: 65vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.banner-section .col-banner-slider .college-banner-single .banner-text-wrapper {
  position: relative;
  z-index: 10;
}

.banner-section .col-banner-slider .college-banner-single .banner-text-wrapper h1 {
  color: white;
  font-size: 72px;
  -webkit-animation: fadeOut 0.3s linear 1;
          animation: fadeOut 0.3s linear 1;
}

@media screen and (max-width: 767px) {
  .banner-section .col-banner-slider .college-banner-single .banner-text-wrapper h1 {
    font-size: 30px;
  }
}

.banner-section .col-banner-slider .college-banner-single .banner-text-wrapper h4 {
  color: white;
  font-size: 24px;
  font-weight: 300;
  -webkit-animation: fadeOut 0.3s linear 1;
          animation: fadeOut 0.3s linear 1;
  position: relative;
  padding: 10px 15px;
  display: inline-block;
}

.banner-section .col-banner-slider .college-banner-single .banner-text-wrapper h4:after {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .banner-section .col-banner-slider .college-banner-single .banner-text-wrapper h4 {
    font-size: 18px;
  }
}

.banner-section .col-banner-slider .college-banner-single.slick-active .banner-text-wrapper h1 {
  -webkit-animation: slideInRight 0.6s linear 1;
          animation: slideInRight 0.6s linear 1;
}

.banner-section .col-banner-slider .college-banner-single.slick-active .banner-text-wrapper h4 {
  -webkit-animation: pulse 0.6s linear 1;
          animation: pulse 0.6s linear 1;
}

.banner-section .col-banner-slider .college-banner-single:nth-child(2).slick-active .banner-text-wrapper h1 {
  -webkit-animation: pulse 0.6s linear 1;
          animation: pulse 0.6s linear 1;
}

.banner-section .col-banner-slider .college-banner-single:nth-child(2).slick-active .banner-text-wrapper h4 {
  -webkit-animation: backInUp 0.6s linear 1;
          animation: backInUp 0.6s linear 1;
}

.banner-section .col-banner-slider .slick-dots {
  bottom: 5%;
}

.banner-section .col-banner-slider .slick-dots li button {
  width: 5px;
  height: 5px;
  margin-left: 10px;
  background-color: #ec7778;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 5px;
}

.banner-section .col-banner-slider .slick-dots li button:before {
  display: none;
}

.banner-section .col-banner-slider .slick-dots li.slick-active {
  margin: 0px 10px;
}

.banner-section .col-banner-slider .slick-dots li.slick-active button {
  background-color: #fe5051;
  height: 30px;
  margin: 0px 10px;
}

@media screen and (max-width: 767px) {
  .about-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.about-section .section-content .section-title {
  position: relative;
  z-index: 9;
}

.about-section .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.about-section .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .about-section .section-content .section-title h5 {
    font-size: 14px;
  }
}

.about-section .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.about-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .about-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.about-section .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .about-section .section-content .section-title .col-button {
    float: none !important;
  }
}

.about-section .section-content p {
  font-size: 16px;
}

.about-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.about-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.about-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.about-section .section-content.title-reversed p {
  color: white;
}

.about-section .about-wrapper .video-wrapper .item-image-holder {
  padding-bottom: 50%;
}

.about-section .about-wrapper .video-wrapper .item-image-holder .icon-holder {
  width: 10%;
  padding-bottom: 10%;
  z-index: 10;
  position: absolute;
  left: 45%;
  top: 40%;
}

.about-section .features-wrapper {
  padding: 20px 40px;
  background-color: #333333;
  -webkit-box-shadow: 20px -18px 10px -6px #b5b5b5;
          box-shadow: 20px -18px 10px -6px #b5b5b5;
}

.about-section .features-wrapper .feature-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-section .features-wrapper .feature-single:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  left: 0;
  bottom: 0;
  position: absolute;
}

.about-section .features-wrapper .feature-single:last-child:after {
  display: none;
}

.about-section .features-wrapper .feature-single .feature-icon {
  padding-bottom: 15%;
  width: 20%;
  float: left;
}

@media screen and (max-width: 767px) {
  .about-section .features-wrapper .feature-single .feature-icon {
    width: 25%;
  }
}

.about-section .features-wrapper .feature-single .features-text {
  padding: 20px;
  float: right;
}

.about-section .features-wrapper .feature-single .features-text h4 {
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-section .features-wrapper .feature-single .features-text p {
  color: white;
}

.about-section .contact-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .about-section .contact-holder {
    display: block;
  }
}

.about-section .contact-holder .call-holder {
  padding: 21px 40px;
  background-color: #fe5051;
}

@media screen and (max-width: 767px) {
  .about-section .contact-holder .call-holder {
    text-align: center;
  }
}

.about-section .contact-holder .call-holder h5 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.about-section .contact-holder .call-holder h3 {
  color: white;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .about-section .contact-holder .call-holder h3 {
    font-size: 18px;
  }
}

.about-section .contact-holder .col-button {
  border-radius: 0;
  padding: 20px 20px;
  text-transform: capitalize;
  border: none;
  background-color: #f41516;
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.about-section .contact-holder .col-button:before {
  border-radius: 0;
  top: 0;
  left: 100%;
}

.about-section .contact-holder .col-button:hover {
  background-color: white;
  color: #fe5051;
  border: 1px solid #fe5051;
}

.about-section .contact-holder .col-button:hover:before {
  left: -95%;
}

@media screen and (max-width: 767px) {
  .courses-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.courses-section .section-content .section-title {
  position: relative;
  z-index: 9;
}

.courses-section .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.courses-section .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .courses-section .section-content .section-title h5 {
    font-size: 14px;
  }
}

.courses-section .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.courses-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .courses-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.courses-section .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .courses-section .section-content .section-title .col-button {
    float: none !important;
  }
}

.courses-section .section-content p {
  font-size: 16px;
}

.courses-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.courses-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.courses-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.courses-section .section-content.title-reversed p {
  color: white;
}

.courses-section .courses-wrapper .courses-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .courses-section .courses-wrapper .courses-holder {
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.courses-section .courses-wrapper .courses-holder .courses-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47%;
  float: left;
  margin: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.courses-section .courses-wrapper .courses-holder .courses-single:hover {
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
}

@media screen and (max-width: 767px) {
  .courses-section .courses-wrapper .courses-holder .courses-single {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
  }
}

.courses-section .courses-wrapper .courses-holder .courses-single .course-description {
  width: 70%;
  float: left;
}

@media screen and (max-width: 767px) {
  .courses-section .courses-wrapper .courses-holder .courses-single .course-description {
    width: 100%;
    float: none;
  }
}

.courses-section .courses-wrapper .courses-holder .courses-single .course-description .course-title a h4 {
  color: #fe5051;
  margin-bottom: 2px;
}

.courses-section .courses-wrapper .courses-holder .courses-single .course-description .course-title a h6 {
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.courses-section .courses-wrapper .courses-holder .courses-single .course-description .course-title a h6:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

.courses-section .courses-wrapper .courses-holder .courses-single .courses-image {
  width: 30%;
  padding-bottom: 30%;
  float: right;
  margin-bottom: 0;
}

.courses-section .courses-wrapper .courses-holder .courses-single .courses-image img {
  border-radius: 15%;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  .courses-section .courses-wrapper .courses-holder .courses-single .courses-image {
    float: none;
    width: 100%;
    padding-bottom: 80%;
  }
}

.events-section {
  position: relative;
}

@media screen and (max-width: 767px) {
  .events-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.events-section .section-content .section-title {
  position: relative;
  z-index: 9;
}

.events-section .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.events-section .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .events-section .section-content .section-title h5 {
    font-size: 14px;
  }
}

.events-section .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.events-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .events-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.events-section .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .events-section .section-content .section-title .col-button {
    float: none !important;
  }
}

.events-section .section-content p {
  font-size: 16px;
}

.events-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.events-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.events-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.events-section .section-content.title-reversed p {
  color: white;
}

.events-section::before {
  content: "";
  background-image: url(../images/course3.jpg);
  background-size: cover;
  height: 70%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.events-section .black-overlay {
  height: 70%;
}

.events-section .event-holder {
  z-index: 99;
  position: relative;
}

.events-section .event-holder .event-slider .event-single {
  margin: 20px;
  padding: 0px 0px 60px 60px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .events-section .event-holder .event-slider .event-single {
    padding: 20px;
    margin: 0;
  }
}

.events-section .event-holder .event-slider .event-single .event-details {
  background-color: #fe5051;
  padding: 30px;
  width: 70%;
  float: right;
  margin-top: -20px;
  margin-right: -20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: fadeOut 0.3s linear 1;
          animation: fadeOut 0.3s linear 1;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .date {
  padding: 0px 10px;
  border-right: 2px solid #fff;
  text-align: center;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .date span {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .date p {
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .title {
  padding: 0px 10px;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .title h4 {
  color: white;
  margin-bottom: 2px;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .title .location {
  background-color: white;
  padding: 2px;
  border-radius: 10px;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .title .location .fa {
  color: #fe5051;
}

.events-section .event-holder .event-slider .event-single .event-details .date-title .title .location span {
  color: #fe5051;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
}

.events-section .event-holder .event-slider .event-single .event-details p {
  font-size: 14px;
}

.events-section .event-holder .event-slider .event-single .event-details .col-button {
  font-size: 12px;
  border: 1px solid #fff;
}

.events-section .event-holder .event-slider .event-single .event-details .col-button:hover {
  background-color: white;
}

@media screen and (max-width: 767px) {
  .events-section .event-holder .event-slider .event-single .event-details {
    width: 100%;
    float: none;
    margin-top: 0;
    margin-right: 0;
    padding: 15px;
  }
}

.events-section .event-holder .event-slider .event-single.slick-active {
  -webkit-box-shadow: 5px 4px 4px -1px #88888882;
          box-shadow: 5px 4px 4px -1px #88888882;
}

.events-section .event-holder .event-slider .event-single.slick-active .event-details {
  -webkit-animation: fadeInLeft 0.5s linear 1;
          animation: fadeInLeft 0.5s linear 1;
}

.events-section .event-holder .event-slider .slick-dots {
  bottom: -10%;
}

.events-section .event-holder .event-slider .slick-dots li button {
  width: 5px;
  height: 5px;
  margin-left: 10px;
  background-color: #ec7778;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 5px;
}

.events-section .event-holder .event-slider .slick-dots li button:before {
  display: none;
}

.events-section .event-holder .event-slider .slick-dots li.slick-active {
  margin: 0px 10px;
}

.events-section .event-holder .event-slider .slick-dots li.slick-active button {
  background-color: #fe5051;
  height: 30px;
  margin: 0px 10px;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.message-news-section .message-wrapper .section-content .section-title {
  position: relative;
  z-index: 9;
}

.message-news-section .message-wrapper .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.message-news-section .message-wrapper .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .section-content .section-title h5 {
    font-size: 14px;
  }
}

.message-news-section .message-wrapper .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.message-news-section .message-wrapper .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .section-content .section-title h2 {
    font-size: 24px;
  }
}

.message-news-section .message-wrapper .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .section-content .section-title .col-button {
    float: none !important;
  }
}

.message-news-section .message-wrapper .section-content p {
  font-size: 16px;
}

.message-news-section .message-wrapper .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.message-news-section .message-wrapper .section-content.title-reversed .section-title h2 {
  color: white;
}

.message-news-section .message-wrapper .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.message-news-section .message-wrapper .section-content.title-reversed p {
  color: white;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper {
    margin-bottom: 20px;
  }
}

.message-news-section .message-wrapper .message-image {
  padding: 0px 10px;
  width: 45%;
}

.message-news-section .message-wrapper .message-image .item-image-holder {
  padding-bottom: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  height: 85%;
}

.message-news-section .message-wrapper .message-image .item-image-holder ul {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
}

.message-news-section .message-wrapper .message-image .item-image-holder ul li a .fa {
  width: 40px;
  height: 40px;
  line-height: 2.5;
  text-align: center;
}

.message-news-section .message-wrapper .message-image .item-image-holder ul li a .fa.fa-facebook {
  background-color: #4267B2;
  color: white;
}

.message-news-section .message-wrapper .message-image .item-image-holder ul li a .fa.fa-twitter {
  background-color: #1DA1F2;
  color: white;
}

.message-news-section .message-wrapper .message-image .item-image-holder ul li a .fa.fa-linkedin {
  background-color: #0072b1;
  color: white;
}

.message-news-section .message-wrapper .message-image .name h5 {
  margin-bottom: 0px;
  color: #fe5051;
  font-weight: 400;
  font-size: 25px;
}

.message-news-section .message-wrapper .message-image .name span {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .message-image .name {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .message-image {
    width: 100%;
  }
}

.message-news-section .message-wrapper .message-text {
  width: 55%;
  padding: 0px 10px;
}

.message-news-section .message-wrapper .message-text p {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .message-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .message-news-section .message-wrapper .message-text {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .message-news-section .news-wrapper .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.message-news-section .news-wrapper .section-content .section-title {
  position: relative;
  z-index: 9;
}

.message-news-section .news-wrapper .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.message-news-section .news-wrapper .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .message-news-section .news-wrapper .section-content .section-title h5 {
    font-size: 14px;
  }
}

.message-news-section .news-wrapper .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.message-news-section .news-wrapper .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .message-news-section .news-wrapper .section-content .section-title h2 {
    font-size: 24px;
  }
}

.message-news-section .news-wrapper .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .message-news-section .news-wrapper .section-content .section-title .col-button {
    float: none !important;
  }
}

.message-news-section .news-wrapper .section-content p {
  font-size: 16px;
}

.message-news-section .news-wrapper .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.message-news-section .news-wrapper .section-content.title-reversed .section-title h2 {
  color: white;
}

.message-news-section .news-wrapper .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.message-news-section .news-wrapper .section-content.title-reversed p {
  color: white;
}

.message-news-section .news-wrapper .news-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-news-section .news-wrapper .news-single .item-image-holder {
  width: 35%;
  padding-bottom: 30%;
  border-radius: 15px;
  margin-bottom: 0;
  height: 100%;
}

.message-news-section .news-wrapper .news-single .news-text {
  width: 65%;
  padding: 10px;
}

.message-news-section .news-wrapper .news-single .news-text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}

.message-news-section .news-wrapper .news-single .news-text .post-date span {
  font-size: 12px;
  margin-bottom: 10px;
}

.message-news-section .news-wrapper .news-single .news-text .post-date p {
  font-size: 14px;
  margin-bottom: 0;
}

.contact-section {
  background-color: #000000;
  padding-bottom: 0px;
}

.contact-section .contact-wrapper {
  height: 100%;
  padding-bottom: 60px;
  border-bottom: 1px solid #545454;
}

.contact-section .contact-wrapper .contact-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-wrapper .contact-single {
    margin-bottom: 15px;
  }
}

.contact-section .contact-wrapper .contact-single .fa {
  color: white;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .contact-section .contact-wrapper .contact-single .fa {
    font-size: 25px;
  }
}

.contact-section .contact-wrapper .contact-single .contact-title {
  padding: 0px 15px;
}

.contact-section .contact-wrapper .contact-single .contact-title h4 {
  color: #fe5051;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.contact-section .contact-wrapper .contact-single .contact-title h4:after {
  content: "";
  position: absolute;
  width: 50px;
  background-color: #fe5051;
  left: 0;
  bottom: 0;
  height: 2px;
}

.contact-section .contact-wrapper .contact-single .contact-title span {
  color: white;
  font-size: 16px;
  display: block;
}

.site-footer {
  background-color: #000;
  color: white;
}

.site-footer .footer-widget-area {
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .site-footer .footer-widget-area {
    margin: 15px 0px;
  }
}

.site-footer .footer-widget-area .widget-title {
  color: white;
  position: relative;
  padding-bottom: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.site-footer .footer-widget-area .widget-title:after {
  content: "";
  position: absolute;
  width: 70px;
  background-color: #fe5051;
  left: 0;
  bottom: 0;
  height: 2px;
}

.site-footer .footer-widget-area .footer-gallery .single-gallery figure {
  margin: 0;
  height: 85px;
}

.site-footer .footer-widget-area ul {
  list-style: none;
  margin-left: 0;
}

.site-footer .footer-widget-area ul li {
  text-transform: capitalize;
  line-height: 2;
}

.site-footer .footer-widget-area ul li a {
  color: #545454;
  font-size: 16px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.site-footer .footer-widget-area ul li a:hover {
  color: white;
}

@media screen and (max-width: 767px) {
  .site-footer .footer-desc {
    margin-top: 15px;
  }
}

.site-footer .footer-desc .textwidget p img {
  float: left;
  width: 20%;
}

.site-footer .site-info .bottom-footer {
  border-top: 1px solid #545454;
  display: block;
  width: 100%;
  padding: 20px;
  padding: 5px 0px;
}

.site-footer .site-info .bottom-footer .site-info {
  color: #545454;
}

.site-footer .site-info .bottom-footer .bottom-social {
  float: right;
}

.site-footer .site-info .bottom-footer .bottom-social ul {
  margin-bottom: 0;
}

.site-footer .site-info .bottom-footer .bottom-social ul li {
  display: inline-block;
  padding: 0px 5px;
}

.site-footer .site-info .bottom-footer .bottom-social ul li a {
  color: #8b8b8b;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 12px;
}

.inner-banner {
  padding: 30px 0px;
}

.about-inner-page .features-wrapper {
  margin-bottom: 40px;
}

.about-inner-page .features-wrapper .feature-single:after {
  display: none;
}

.about-inner-page .about-wrapper .about-text-inner {
  padding: 30px;
  border: 1px solid #ddd;
  margin-left: -70px;
  margin-top: 34px;
  background-color: white;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px -3px;
          box-shadow: 2px 2px 10px -3px;
}

.about-inner-page .about-wrapper .about-text-inner blockquote {
  border-left: none;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-style: italic;
  font-size: 20px;
  color: #fe5051;
  font-weight: 600;
}

.about-inner-page .about-wrapper .about-text-inner blockquote::after {
  content: '\f10d';
  font-family: fontawesome;
  position: absolute;
  left: 0;
  font-size: 16px;
  top: 0;
}

.about-inner-page .about-wrapper .video-wrapper .item-image-holder {
  padding-bottom: 70%;
}

@media screen and (max-width: 767px) {
  .objectives-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.objectives-section .section-content .section-title {
  position: relative;
  z-index: 9;
}

.objectives-section .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.objectives-section .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .objectives-section .section-content .section-title h5 {
    font-size: 14px;
  }
}

.objectives-section .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.objectives-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .objectives-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.objectives-section .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .objectives-section .section-content .section-title .col-button {
    float: none !important;
  }
}

.objectives-section .section-content p {
  font-size: 16px;
}

.objectives-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.objectives-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.objectives-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.objectives-section .section-content.title-reversed p {
  color: white;
}

.objectives-section .mission-content .mission-single {
  margin: 15px 0px;
  text-align: center;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
  background-color: white;
}

.objectives-section .mission-content .mission-single .icon-holder {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 30%;
  margin-bottom: 10px;
}

.objectives-section .mission-content .mission-single h6 {
  font-size: 22px;
  color: #333333;
}

.objectives-section .objective-content .col-panel-grp .col-panel .panel-heading {
  background-color: #fe5051;
  color: white;
}

.objectives-section .objective-content .col-panel-grp .col-panel .panel-heading .panel-title a {
  font-size: 14px;
}

.objectives-section .objective-content .col-panel-grp .col-panel .panel-heading .panel-title a::after {
  font-family: Fontawesome;
  content: '\f077';
  float: right;
  font-size: 10px;
  font-weight: 300;
  color: white;
}

.objectives-section .objective-content .col-panel-grp .col-panel .panel-heading .panel-title a:hover {
  color: white;
}

.objectives-section .objective-content .col-panel-grp .col-panel .panel-heading .panel-title a.collapsed:after {
  font-family: Fontawesome;
  content: '\f078';
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.message-inner-section .message-wrapper .section-content .section-title {
  position: relative;
  z-index: 9;
}

.message-inner-section .message-wrapper .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.message-inner-section .message-wrapper .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .section-content .section-title h5 {
    font-size: 14px;
  }
}

.message-inner-section .message-wrapper .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.message-inner-section .message-wrapper .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .section-content .section-title h2 {
    font-size: 24px;
  }
}

.message-inner-section .message-wrapper .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .section-content .section-title .col-button {
    float: none !important;
  }
}

.message-inner-section .message-wrapper .section-content p {
  font-size: 16px;
}

.message-inner-section .message-wrapper .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.message-inner-section .message-wrapper .section-content.title-reversed .section-title h2 {
  color: white;
}

.message-inner-section .message-wrapper .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.message-inner-section .message-wrapper .section-content.title-reversed p {
  color: white;
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper {
    margin-bottom: 20px;
  }
}

.message-inner-section .message-wrapper .message-holder {
  padding: 30px 0px;
}

.message-inner-section .message-wrapper .message-holder .message-image {
  width: 25%;
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .message-holder .message-image {
    width: 100%;
  }
}

.message-inner-section .message-wrapper .message-holder .message-text {
  width: 75%;
  padding: 0px 10px;
}

.message-inner-section .message-wrapper .message-holder .message-text p {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .message-holder .message-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .message-inner-section .message-wrapper .message-holder .message-text {
    width: 100%;
  }
}

.message-inner-section .message-wrapper .message-holder:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .committee-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.committee-section .section-content .section-title {
  position: relative;
  z-index: 9;
}

.committee-section .section-content .section-title h5 {
  color: #fe5051;
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 10px 8px #d4d4d494;
}

.committee-section .section-content .section-title h5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #8d8d8d;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .committee-section .section-content .section-title h5 {
    font-size: 14px;
  }
}

.committee-section .section-content .section-title h2 {
  font-size: 32px;
  color: #222222;
  position: relative;
  display: inline-block;
}

.committee-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fe5051;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .committee-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.committee-section .section-content .section-title .col-button {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .committee-section .section-content .section-title .col-button {
    float: none !important;
  }
}

.committee-section .section-content p {
  font-size: 16px;
}

.committee-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.committee-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.committee-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.committee-section .section-content.title-reversed p {
  color: white;
}
/*# sourceMappingURL=main.css.map */